  /* On remet tout à zéro */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    /* Fond blanc  */
    body {
      font-family: Arial, sans-serif;
      background-color: white;
    }

    main {
      padding: 80px 20px;
      text-align: center;
    }

    main h1 {
      font-size: 42px;
      margin-bottom: 16px;
      color: #222;
    }

    main p {
      font-size: 15px;
      color: #666;
      max-width: 480px;
      margin: 0 auto 28px auto;
      line-height: 1.6;
    }

    /* Les deux boutons côte à côte */
    .boutons {
      display: flex;
      justify-content: center;
      gap: 14px;
    }

    /* Bouton rouge plein */
    .btn-rouge {
      background-color: #f60202;
      color: white;
      padding: 11px 24px;
      border: none;
      border-radius: 8px;
      font-size: 14px;
      cursor: pointer;
    }

    /* Bouton blanc avec bordure rouge */
    .btn-blanc {
      background-color: white;
      color:#f60202;
      padding: 11px 24px;
      border: 2px solid #f60202;
      border-radius: 8px;
      font-size: 14px;
      cursor: pointer;
    }

    