body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

/* SECTIONS */

section{
    padding: 20px;
}

h2{
    background-color: #2ecc71;
    padding: 8px;
}

li{
    background-color: rgba(0, 0, 255, 0.021);
    margin-bottom: 10px;
    padding: 10px;
}

/* DIALOG */

dialog{
    text-align: center;
    background-color: rgba(25, 121, 195, 0.86);
    border: none;
    border-radius: 10px;
    padding: 20px;
}

button{
    color: white;
    background-color: #f60202;
    border: none;

    padding: 16px 32px;

    font-size: 18px;

    border-radius: 8px;

    cursor: pointer;

    transition: 0.3s;
}
