body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

/* HEADER */

header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.logo{
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 2px;
}

.logo .frigo{
    color: #2ecc71;
}

.logo .co{
    color: #f60202;
}

.horloge{
    background-color: #f60202;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    text-align: center;
    font-size: 13px;
    line-height: 1.6;
}

/* NAVIGATION */

nav{
    background-color: #eeeeee;
    padding: 0 16px;
    display: flex;
    align-items: center;
    height: 48px;
    border-bottom: 1px solid #ddd;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
}

nav a{
    text-decoration: none;
    color: black;
}

/* SECTIONS */

section{
    padding: 20px;
}

h2{
    background-color: #2ecc71;
    padding: 8px;
}

li{
    background-color: rgba(0, 0, 255, 0.021);
    margin-bottom: 10px;
    padding: 10px;
}

/* DIALOG */

dialog{
    text-align: center;
    background-color: rgba(25, 121, 195, 0.86);
    border: none;
    border-radius: 10px;
    padding: 20px;
}

button{
    color: white;
    background-color: #f60202;
    border: none;

    padding: 16px 32px;

    font-size: 18px;

    border-radius: 8px;

    cursor: pointer;

    transition: 0.3s;
}

/* FOOTER */

footer{
    text-align: center;
    padding: 20px;
    color: #aaa;
    font-size: 13px;
    border-top: 1px solid #eee;
    margin-top: 60px;
}